.cad-user-container {
    display: grid;
    grid-template-areas:
            "cad-user-module cad-perfil-module";
    grid-template-columns: 1fr 1fr;
}
.cad-user-module {
    grid-area: cad-user-module;
}

.cad-perfil-module {
    grid-area: cad-perfil-module;
}