.dl-container {
    display: grid;
    grid-template-areas: "dl-left dl-middle dl-right";
    grid-template-columns: 10rem 2rem 10rem;
}

.dl-left {
    grid-area: dl-left;
}

.dl-middle {
    grid-area: dl-middle;
}

.dl-right {
    grid-area: dl-right;
}
