@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: black;
    font-family: Inter, sans-serif, Arial;
}

[data-theme='dark'] {
    --background: #17181A;
    --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.bg-image-bg-light {
    background-image: url('/assets/img/bg-light.jpg');
}

.bg-image-bg-dark {
    background-image: url('/assets/img/bg-dark.jpg');
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container-app {
    display: grid;
    grid-template-areas: "sidemenu content";
    grid-template-columns: 20rem 1fr;
}

.sidemenu {
    grid-area: sidemenu;
}

.content {
    grid-area: content;
}