@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap') layer(base);

@import "tailwindcss";
@import "preline/variants.css";
@import "preline/src/plugins/datepicker/styles.css";
@import '../themes/_default-colors.css';

@plugin 'tailwind-scrollbar';
@source "../node_modules/preline/dist/*.js";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:where(.dark, .dark *));

@utility text-balance {
    text-wrap: balance;
}

@theme inline {
    --color-primary: var(--primary);
    --color-primary-content: var(--primary-content);
    --color-base-100: var(--base-100);
    --color-base-200: var(--base-200);
    --color-base-300: var(--base-300);
    --color-base-content: var(--base-content);
}

:root {
    --primary: var(--color-orange-400);
    --primary-content: var(--lg-primary-content);
    --base-100: var(--lg-base-100);
    --base-200: var(--lg-base-200);
    --base-300: var(--lg-base-300);
}

.dark {
    --primary: var(--color-orange-400);
    --primary-content: var(--dk-primary-content);
    --base-content: var(--dk-base-content);
    --base-100: var(--dk-base-100);
    --base-200: var(--dk-base-200);
    --base-300: var(--dk-base-300);
}
