.cad-perfil-container {
    display: grid;
    grid-template-areas:
            "cad-perfil-system cad-perfil-module";
    grid-template-columns: 1fr 1fr;
}

.cad-perfil-system {
    grid-area: cad-perfil-system;
}

.cad-perfil-module {
    grid-area: cad-perfil-module;
}