.container-sistema {
    display: grid;
    height: 100vh;
    grid-template-areas: "side-bar content";
    grid-template-columns: auto 1fr;
}

.side-bar {
    grid-area: side-bar;
}

.content {
    grid-area: content;
    display: grid;
    margin-left: .3rem;
    grid-template-areas: "content-header" "content-page" ;
    grid-template-rows: auto 1fr;
    row-gap: .5rem
}

.content-header {
    grid-area: content-header;
}

.side-bar {
    grid-area: side-bar;
    height: 100%;
}

.content-page {
    grid-area: content-page;
    width: 100%;
}